<div class="main main-raised">
    <div class="profile-content">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-8 ml-auto mr-auto">
                    <div class="card card-signup">

                        <div class="card-header card-header-primary text-center">
                            <h2 class="card-title">Log in</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 ml-auto mr-auto">
                                    <div>
                                        <a class="btn-link" (click)="googleLogin()"><img src="assets/img/1x/btn_google_signin_dark_normal_web.png" alt="Sign in with Google"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="footer text-center">Don't have an account?
                            <a class="btn btn-primary btn-link btn-wd btn-lg" [routerLink]="['/register']"><i class="material-icons">person_add</i> Register</a>
                        </div>
                        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
