<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#creative">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="#creative">
            About Us
          </a>
        </li>
        <li>
          <a href="#creative">
            Blog
          </a>
        </li>
        <li>
          <a href="#creative">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{ year | date: 'yyyy' }}, made with <i class="material-icons">favorite</i> by
      <a href="https://www.creative-tim.com">Creative Tim</a> for a better web.
    </div>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</footer>
