    <div class="rotating-card-container" style="max-height: 270px; margin-bottom: 30px;">
      <div class="card card-rotate card-background rule-card">
        <div class="front front-background" ngClass="{{rule.frontImgClass}}">
          <div class="card-body">
            <a>
              <h3 class="card-title">{{ rule.frontTitle }}</h3>
            </a>
            <p class="card-description">
              <b>{{ rule.frontText }}</b>
            </p>
          </div>
        </div>
        <div class="back back-background" ngClass="{{ rule.rearImgClass }}">
          <div class="card-body">
            <h5 class="card-title">{{ rule.rearTitle }}</h5>
            <div class="card-description"><b>{{ rule.rearText }}</b></div>
          </div>
        </div>
      </div>
    </div>
