.rule-card {
  max-height: 270px;
  width: 350px;

  .AndersonZayne {
    background-image: url('/assets/img/Anderson_Zayne.jpg');
  }
  .BushmanMatt {
    background-image: url('/assets/img/Bushman_Matt.jpg');
  }
  .CanadaSqually {
    background-image: url('/assets/img/Canada_Squally.jpg');
  }
  .CritchlowJoe {
    background-image: url('/assets/img/Critchlow_Joe_0.jpg');
  }
  .DavidAkile {
    background-image: url('/assets/img/David_Akile.jpg');
  }
  .ElBakriBrayden {
    background-image: url('/assets/img/El-Bakri_Brayden.jpg');
  }
  .EllisKeenan {
    background-image: url('/assets/img/Ellis_Keenan.jpg');
  }
  .FauateaTonga {
    background-image: url('/assets/img/Fauatea_Tonga.jpg');
  }
  .GhanwolukuDayan {
    background-image: url('/assets/img/Ghanwoloku_Dayan.jpg');
  }
  .GreeneTrevion {
    background-image: url('/assets/img/Greene_Trevion.jpg');
  }
  .HifoAleva {
    background-image: url('/assets/img/Hifo_Aleva.jpg');
  }
  .HogeBeau {
    background-image: url('/assets/img/Hoge_Beau.jpg');
  }
  .HogeTristan {
    background-image: url('/assets/img/Hoge_Tristan.jpg');
  }
  .HoytAustin {
    background-image: url('/assets/img/Hoyt_Austin.jpg');
  }
  .JacobsenTanner {
    background-image: url('/assets/img/Jacobsen_Tanner.jpg');
  }
  .KafentzisAustin {
    background-image: url('/assets/img/Kafentzis_Austin.jpg');
  }
  .KatoaZach {
    background-image: url('/assets/img/Katoa_Zach.jpg');
  }
  .KaufusiCorbin {
    background-image: url('/assets/img/Kaufusi_Corbin.jpg');
  }
  .LapuahoUlui {
    background-image: url('/assets/img/Lapuaho_Ului.jpg');
  }
  .LeeAustin {
    background-image: url('/assets/img/Lee_Austin.jpg');
  }
  .MangumTanner {
    background-image: url('/assets/img/Mangum_Tanner.jpg');
  }
  .MoungaTevita {
    background-image: url('/assets/img/Mounga_Tevita.jpg');
  }
  .NwigweJJ {
    background-image: url('/assets/img/Nwigwe_JJ_0.jpg');
  }
  .PauUButch {
    background-image: url('/assets/img/PauU_Butch.jpg');
  }
  .PiliTrajan {
    background-image: url('/assets/img/Pili_Trajan.jpg');
  }
  .PulsipherAdam {
    background-image: url('/assets/img/Pulsipher_Adam.jpg');
  }
  .PututauMoroni {
    background-image: url('/assets/img/Pututau_Moroni.jpg');
  }
  .SheltonMichael {
    background-image: url('/assets/img/Shelton_Michael.jpg');
  }
  .ShoafThomas {
    background-image: url('/assets/img/Shoaf_Thomas.jpg');
  }
  .ShumwayTalon {
    background-image: url('/assets/img/Shumway_Talon.jpg');
  }
  .SimonMicah {
    background-image: url('/assets/img/Simon_Micah.jpg');
  }
  .TakitakiSione {
    background-image: url('/assets/img/Takitaki_Sione_small.jpg');
  }
  .TaliauliMerrill {
    background-image: url('/assets/img/Taliauli_Merrill.jpg');
  }
  .TannerBeau {
    background-image: url('/assets/img/Tanner_Beau.jpg');
  }
  .TongaKhyiris {
    background-image: url('/assets/img/Tonga_Khyiris.jpg');
  }
  .TuifuaLangi {
    background-image: url('/assets/img/Tuifua_Langi.jpg');
  }
  .WarnerTroy {
    background-image: url('/assets/img/Warner_Troy.jpg');
  }
  .WilcoxChris {
    background-image: url('/assets/img/Wilcox_Chris.jpg');
  }

}
