<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="25" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/dashboard']">{{ title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/dashboard']"><i class="material-icons">dashboard</i>Dashboard </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/schedule']"><fa-icon [icon]="['fas', 'calendar-alt']" size="lg"></fa-icon> Schedule </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/leaderboard']"><fa-icon [icon]="['fas', 'cubes']" size="lg"></fa-icon> Leaderboard </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/rules']"><fa-icon [icon]="['fas', 'book']" size="lg"></fa-icon> Rules</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item" routerLinkActive="active" *ngIf="authService.isLoggedIn() && authService.isAdmin()">
                    <a class="nav-link" [routerLink]="['/users']"><fa-icon [icon]="['fas', 'users-cog']" size="lg"></fa-icon>&nbsp;&nbsp;</a>
                </li>
                <li class="nav-item" *ngIf="authService.isLoggedIn()">
                    <a><i class="material-icons">verified_user</i>Welcome {{ authService.currentUser.name }}</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="!authService.isLoggedIn()">
                    <a class="nav-link" [routerLink]="['/login']"><fa-icon [icon]="['fas', 'sign-in-alt']" size="lg"></fa-icon>  Login </a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="authService.isLoggedIn()">
                    <a class="nav-link" (click)="logout()">Log out </a>
                </li>
            </ul>

        </div>

    </div>
</nav>
