<div class="pricing">
    <div id="contactUsMap" class="big-map"></div>

    <div class="page-header header-filter header-xs" data-parallax="true">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title"><img src="assets/img/BYU_logo.png" alt="byu logo"/> Leaderboard <img src="assets/img/BYU_logo.png" alt="byu logo"/></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">


                    <div class="row">
                        <div class="col-1 col-md-3 d-none d-lg-block">
                            <div class="card card-pricing card-plain bg-rose">
                                <div class="card-body">
                                    <h1 class="card-title">
                                        <i class="fa fa-trophy" aria-hidden="true"></i>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ml-auto mr-auto">
                            <div class="card card-raised bg-default">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table text-dark">
                                            <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th><b>Name</b></th>
                                                <th class="text-right"><b>Total Score</b></th>
                                                <th>&nbsp;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let result of scores; first as isFirst" >
                                                <td>
                                                    <i class="fa fa-trophy fa-2x text-warning" aria-hidden="true" *ngIf="isFirst"></i>&nbsp;
                                                </td>
                                                <td><b>{{ result.name }}</b></td>
                                                <td class="text-right"><b>{{ result.totalScore }}</b></td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 col-md-3 d-none d-xs-none d-lg-block">
                            <div class="card card-pricing card-plain bg-dark">
                                <div class="card-body">
                                    <h6 class="card-category text-info">Platinum</h6>
                                    <h1 class="card-title">
                                        <small>$</small>199
                                        <small>/mo</small>
                                    </h1>
                                    <ul>
                                        <li>
                                            <b>1000</b> Projects</li>
                                        <li>
                                            <b>100</b> Team Members</li>
                                        <li>
                                            <b>550</b> Personal Contacts</li>
                                        <li>
                                            <b>50.000</b> Messages</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>


</div>
