<div class="main main-raised">
    <div class="profile-content">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-8 ml-auto mr-auto">
                    <div class="card card-signup">

                        <div class="card-header card-header-primary text-center">
                            <h2 class="card-title text-center">Register</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 ml-auto mr-auto">
                                    <div>
                                        <img src="assets/img/1x/btn_google_signin_dark_normal_web.png" alt="Register via Google" (click)="googleRegister()">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="footer text-center">Have an account?
                            <a class="btn btn-primary btn-link btn-wd btn-lg" [routerLink]="['/login']"><i class="material-icons">fingerprint</i> Login</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
