<div class="pricing">
    <div id="contactUsMap" class="big-map"></div>

    <div class="page-header header-filter header-xs" data-parallax="true">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h1 class="title">Next Opponent</h1>
              </div>
          </div>
      </div>
  </div>

    <div class="main main-raised">
        <div class="container">

              <div class="row">

                  <div class="col-md-8 mr-auto ml-auto">
                          <div class="table-responsive">
                              <table class="table table-striped" *ngIf="isEditable">
                                  <thead>
                                  <tr>
                                      <th>Player</th>
                                      <th>BYU</th>
                                      <th>{{ currentGame.opponent }}</th>
                                      <th>Score Entered</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let userGuess of weeklyGuesses">
                                      <td><strong>{{ userGuess.name }}</strong></td>
                                      <td><i class="fa fa-2x" ngClass="hideScore(userGuess)"></i></td>
                                      <td><i class="fa fa-2x" ngClass="hideScore(userGuess)"></i></td>
                                      <td><i class="fa fa-2x" ngClass="hasScore(userGuess)"></i></td>
                                  </tr>
                                  </tbody>
                              </table>

                              <table class="table table-striped" *ngIf="!isEditable">
                                  <thead>
                                  <tr>
                                      <th>Player</th>
                                      <th>BYU</th>
                                      <th>{{ currentGame.opponent }}</th>
                                      <th>Outcome</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let userGuess of weeklyGuesses">
                                      <td>{{ userGuess.name }}</td>
                                      <td>{{userGuess.byuScore}}</td>
                                      <td>{{userGuess.oppScore}}</td>
                                      <td><strong>{{userGuess.weekTotalScore}}</strong></td>
                                  </tr>
                                  </tbody>
                              </table>

                          </div>


                  </div>

              </div>

      </div>
  </div>


</div>
