<div class="login-page">
   <fp-navbar></fp-navbar>
   <div class="page-header header-filter" style=" background-image: url('../assets/img/LavellEdwardsStadium2.jpg'); background-size: cover; background-position: top center;">
        <router-outlet></router-outlet>
   </div>
    <footer class="footer footer-black">
        <div class="container">

            <a class="footer-brand" href="#pablo">Material Kit PRO</a>
            <ul class="pull-center">
                <li>
                    <a href="#pablo">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Presentation
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Discover
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Payment
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </footer></div>
