<div class="main main-raised">
    <div class="profile-content">
        <div class="container">

            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="../assets/img/BYU-logo.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h1 class="title">App Settings</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>key</th>
                                <th>value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let appSetting of appSettings$ | async">
                                <td>{{ appSetting.key }}</td>
                                <td>{{ appSetting.value }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
