<div class="main main-raised">
    <div class="profile-content">
        <div class="container">

            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="../assets/img/BYU-logo.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h1 class="title">Rules</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ml-auto mr-auto">
                <div class="col-md-4 offset-md-2">
                    <fp-rule-card [rule]="rules[0]"></fp-rule-card>
                </div>
                <div class="col-md-4 col-lg-4">
                    <fp-rule-card [rule]="rules[1]"></fp-rule-card>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <fp-rule-card [rule]="rules[2]"></fp-rule-card>
                </div>
                <div class="col-md-4 col-lg-4">
                    <fp-rule-card [rule]="rules[3]"></fp-rule-card>
                </div>
                <div class="col-md-4 col-lg-4">
                    <fp-rule-card [rule]="rules[4]"></fp-rule-card>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 offset-md-2">
                    <fp-rule-card [rule]="rules[5]"></fp-rule-card>
                </div>
                <div class="col-md-4">
                    <fp-rule-card [rule]="rules[6]"></fp-rule-card>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 offset-md-2">
                    <fp-rule-card [rule]="rules[7]"></fp-rule-card>
                </div>
                <div class="col-md-4">
                    <fp-rule-card [rule]="rules[8]"></fp-rule-card>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="media-area">

                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">Instructions</h4>
                                <p>To enter a score for each week, go to the schedule page, click on the icon. The dialog will allow you to enter and update your score.</p>
                                <p>Scores can be entered up until Friday noon (cut-off time) for Saturday and Friday games. Games on other days (none this season) will have a cut-off time of noon on the day of the game.</p>
                                <p>After the cut-off time the entered scores will be shown on the dashboard page.</p>
                                <p>After the game is over, the Admin will post the game score and the scoring will be calculated for the game. The results will be shown on the dashboard.</p>
                                <p>The current week's game will be shown on the dashboard until the Monday following the game. At that point the next game will be shown.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

